* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILS */
.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.cards-section {
    min-width: 100%;
}

.card {
    min-width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    float: left;
    margin: 20px 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.card-text {
    color: white;
    padding: 10px 0;
    float: left;
}
.email {
    color: #2dc7ec;
}

/* GENERICS */

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1, p {
    text-align: center;
    margin: 30px 0;
}

h2 {
    text-transform: uppercase;
}

/* HEADER */

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #e4306f;
    padding-bottom: 20px;
}

/* MAIN */

.card > img {
    max-width: 25%;
    float: left;
    margin-right: 10px;
}